# OS
.DS_Store
Thumbs.db

# Node / Angular
node_modules/
**/.angular/
dist/
coverage/

# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.ncrunch*
*.local.json

# Logs
logs/
**/logs/
*.log

# Env & Secrets
.env
.env.*
config/env/secrets.env
config/env/*.local
**/*.secret.*

# IDE
.vscode/
.idea/
*.code-workspace

# Build artifacts
publish/
**/publish/

# Misc
*.tmp
*.swp
*.lock
